In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [5]:
trips_df = pd.read_csv('green_tripdata_2019-01.csv')

In [6]:
trips_df.head(5)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [8]:
len(trips_df)

630918

In [9]:
trips_df.lpep_pickup_datetime = pd.to_datetime(trips_df.lpep_pickup_datetime)
trips_df.lpep_dropoff_datetime = pd.to_datetime(trips_df.lpep_dropoff_datetime)

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/green_taxi')

In [12]:
print(pd.io.sql.get_schema(df, name='green_taxi_trips', con=engine))

CREATE TABLE green_taxi_trips (
	"VendorID" BIGINT,
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

We read the table into postgres in chunks using panda iterator

In [13]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv', iterator=True, chunksize=100000)

In [14]:
df_iter

In [15]:
df = next(df_iter)

In [16]:
len(df)

100000

In [17]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [18]:
df.head(n=0).to_sql(name='green_taxi_trips', con=engine, if_exists='replace')

0

In [19]:
%time df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')

CPU times: user 6.84 s, sys: 168 ms, total: 7.01 s
Wall time: 19.7 s

1000

In [20]:
from time import time

In [21]:
while True:
    
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_trips', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk... , took %.3f seconds' % (t_end - t_start))

inserted another chunk... , took 18.398 seconds
inserted another chunk... , took 18.643 seconds
inserted another chunk... , took 19.208 seconds
inserted another chunk... , took 18.263 seconds
inserted another chunk... , took 18.668 seconds
inserted another chunk... , took 7.350 seconds

StopIteration:

do the simmilar thing for the zone lookup table

In [23]:
zones_df = pd.read_csv('taxi+_zone_lookup.csv')

In [24]:
len(zones_df)

265

In [25]:
print(pd.io.sql.get_schema(zones_df, name='zones', con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [27]:
zones_df.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

0

In [28]:
zones_df.to_sql(name='zones', con=engine, if_exists='append')

265